@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
:root {
  /* --main-bg-color: #2874f0; */
}
body{
  font-family: sans-serif;
 
}

* {
  padding: 0;
  margin: 0;
 
}
header {
  box-shadow: 0 3px 10px rgb(1 1 1 / 0.2);

  /* background: var(--main-bg-color); */
  background-color:  #154c79;
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 88px;
  padding: 0 25px;
}

nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 23px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}

nav ul li a:hover {
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  box-shadow: rgba(0, 0, 0, 0.2);
  width: 30vw;
  height: 32px;
  border-radius: 3px;
  border: none;
  margin: 0 16px 0 56px;
  padding: 0 12px;
}

/* .search button {
  font-family: "Lato", sans-serif;
  font-weight: 900;
} */

i{
    font-size: 25px;
}

.product-list{
  box-shadow: rgba(0, 0, 0, 0.2);
display: flex;
display: inline-block;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}
.product-list{
  box-shadow: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product img{
  /* box-shadow: 0 3px 10px rgb(1 1 1 / 0.2); */
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);

    cursor: pointer;
    height: 400px;
    width: 370px;
    margin: 10px;
    transition: 400ms;
    display: grid;
    overflow: hidden;
}

.product img:hover{
  filter: grayscale(1);
    transform: scale(1.03);
}

.product h2{
    text-align: center;
    font-weight: 100;
}

.product h3{
    text-align: center;
    color: #1e81b0;
}

footer{
  background-color: rgb(39, 39, 39);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3{
  color: #fff;

}

/* next item:  */











@media screen and (max-width: 1000px) {
    nav {
      flex-direction: column;
    }
  
    .slider {
      height: 23vh;
    }
  
    .logo {
      justify-content: center;
      margin: 12px 0;
    }
  
    nav ul {
      justify-content: center;
    }
  
    .search {
      justify-content: center;
    }
  
    .search input {
      margin: 12px 16px;
    }
  
    nav ul {
      height: 34px;
    }

}




